<!DOCTYPE html>
<html lang="fr">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Le blog de Cyril Bernard</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://use.fontawesome.com/646c63ee45.js"></script>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600|Poppins:400,700|Inconsolata:400,700" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/cyril.css">
  <link rel="stylesheet" href="/css/monokai.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="three columns sidebar">
        <div class="avatar"><img class="u-max-full-width" src="/images/lizmap2.png"></div>
        <h2 class="centered">Cyril Bernard</h2>
        <p class="centered">GIS Tech @ <a href="http://www.cefe.cnrs.fr">CEFE-CNRS</a><br/><i class="fa fa-map-marker" aria-hidden="true"></i> Montpellier</a></p>
        <hr/>
        <!--
        -->
        <ul class="menu">
          <li>» <a href="/">Blog</a></li>
          <li>» <a href="/data">Data</a></li>
          <li>» <a href="/about">About</a></li>
        </ul>
        <hr/>
        <p>
          <a title="Email me" href="mailto:cyril.bernard@cefe.cnrs.fr"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></a>
          <a title="cybernar on Github" href="https://github.com/cybernar"><i class="fa fa-github-square fa-2x"></i></a>
          <a title="cyber_nard on Twitter" href="https://twitter.com/cyber_nard"><i class="fa fa-twitter-square fa-2x"></i></a>
        </p>

      </div>
        <div class="nine columns content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
